.formulario-filtro {
    form {
        .mdl-button[type="submit"] {
            border-color: #f8aa00;
            border-width: 2px;
            height: 40px;
            width: 185px;
            color: #f8aa00;
            font-weight: 700;
        }
    }
}