.menu-interno {
    width: 100%;
    background-color: #f2f2f2;
    height: auto;
    padding: 0;
    padding-bottom: 2px;
    display: flex;
    flex-direction: row;
    color: #4a4a4a;
    .mdl-cell {
        display: flex;
    }
    .item-menu-interno {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        background-color: #fff;
        padding: 13px 20px;
        margin: 0 1px;
        cursor: pointer;
        &.ativo {
            border-bottom: 2px solid #efad00;
            margin-bottom: -2px;
        }
        span {
            margin-left: 15px;
            font-size: 16px;
            font-weight: bold;
            padding-right: 6px;
        }
    }
}