.card-container {
	width: 785px;
	margin: 0 auto;
	.card-administrativo {
		display: inline-block;
		.mdl-card {
			width: 240px;
			min-height: 175px;
			border-radius: 6px;
			margin: 5px auto;
			border: 1px solid #e0e0e0;
			.mdl-card__supporting-text {
				svg {
					width: 38px;
					height: 38px;
				}
				p {
					color: #4a4a4a;
					text-align: center;
					font-size: 20px;
					font-weight: 500;
					margin-bottom: 0;
				    padding: 0 15px;
				}
				&.card-body {
					padding-top: 5px;
					padding-bottom: 0;
				}
			}
		}
	}
}


