--- 
layout: default 
title: Capa
permalink: "/"
menu: logar
classes: home
---
<div class="bg-amarelo bg-amarelo-principal">
    <div class="mdl-grid mdl-grid--spacing no-padding">
        <div class="destaque-logo">
            {% include svg/logo.svg cor1="#FFFFFF" cor2="#E6AF00" cor3="#E6AF00" width="500" %}
        </div>
    </div>
    <div class="mdl-grid mdl-grid--spacing">
        <div class="mdl-cell mdl-cell--5-col mdl-cell--1-offset">
            <h3 class="branco titulo-destaque striped-top-white-type-1">Como está a gestão da saúde na sua empresa?</h3>
        </div>
    </div>
</div>

<div class="bg-branco benchmarking">
    <div class="mdl-grid mdl-grid--spacing">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--1-offset">
            <p>O <strong>Benchmarking Empresarial em Saúde e Segurança</strong> foi desenvolvido para ajudá-lo a identificar e avaliar as iniciativas voltadas à promoção da saúde e segurança do trabalhador implantadas em sua organização, bem como torná-los mais eficazes por meio da gestão em saúde.</p>
            <p>O instrumento é <strong>totalmente gratuito</strong> e pode ser utilizado por todas as empresas em um ambiente automatizado e intuitivo. Seus painéis ilustrativos (Dashboard), disponibilizados logo após o preenchimento da pesquisa,  permitem uma análise aprofundada e comparativa da sua empresa no contexto nacional e estadual.</p>
        </div>
        <div class="mdl-cell mdl-cell--5-col mdl-cell--1-offset video-principal">
            <div class="video-16-9">
                <img class="video" src="http://via.placeholder.com/695x390" alt="">
            </div>
            <p class="mdl-typography--text-center margin-top-100">
                <a href="/cadastro-empresa-01/" class="mdl-button mdl-button--medium mdl-js-button mdl-button--raised mdl-button--colored">INICIE SUA PESQUISA</a>
            </p>
        </div>
    </div>
</div>

<div class="bg-amarelo pesquisa">
    <div class="mdl-grid mdl-grid--spacing">
        <h3 class="titulo-pesquisa mdl-cell--10-col mdl-cell--1-offset striped-top-white-type-2">
            A pesquisa é composta por 14 módulos, que abrangem os seguintes temas:
        </h3>
    </div>
    <div class="mdl-grid mdl-grid--spacing ">
        <div class="mdl-cell--10-col mdl-cell--1-offset">
            <div class="mdl-grid mdl-grid--spacing ">
                <div class="mdl-cell col-7">
                    {% include icones/ic-suporte-organizacional.svg %}
                    <p class="help-block branco">Suporte Organizacional</p>
                </div>
                <div class="mdl-cell col-7">
                    {% include icones/ic-tabagismo.svg %}
                    <p class="help-block branco">Tabagismo</p>
                </div>
                <div class="mdl-cell col-7">
                    {% include icones/ic-sa-de-e-seguran-a-ic-saude-seguran-a-trabalho.svg %}
                    <p class="help-block branco">Nutrição</p>
                </div>
                <div class="mdl-cell col-7">
                    {% include icones/ic-pressao-alta.svg %}
                    <p class="help-block branco">Pressão Alta</p>
                </div>
                <div class="mdl-cell col-7">
                    {% include icones/ic-atividade-fisica.svg %}
                    <p class="help-block branco">Atividade Física</p>
                </div>
                <div class="mdl-cell col-7">
                    {% include icones/ic-controle-peso.svg %}
                    <p class="help-block branco">Controle de Peso</p>
                </div>
                <div class="mdl-cell col-7">
                    {% include icones/ic-estresse.svg %}
                    <p class="help-block branco">Gerenciamento do Estresse</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-grid mdl-grid--spacing ">
        <div class="mdl-cell--10-col mdl-cell--1-offset">
            <div class="mdl-grid mdl-grid--spacing ">
                <div class="mdl-cell col-7">
                    {% include icones/ic-depressao.svg %}
                    <p class="help-block branco">Depressão</p>
                </div>
                <div class="mdl-cell col-7">
                    {% include icones/ic-colesterol-alto.svg %}
                    <p class="help-block branco">Colesterol Alto</p>
                </div>
                <div class="mdl-cell col-7">
                    {% include icones/ic-diabetes.svg %}
                    <p class="help-block branco">Diabetes</p>
                </div>
                <div class="mdl-cell col-7">
                    {% include icones/ic-apoio-amamentacao.svg %}
                    <p class="help-block branco">Apoio à Amamentação</p>
                </div>
                <div class="mdl-cell col-7">
                    {% include icones/ic-saude-seguranca.svg %}
                    <p class="help-block branco">Saúde e Segurança do Trabalho</p>
                </div>
                <div class="mdl-cell col-7">
                    {% include icones/ic-vacinacao.svg %}
                    <p class="help-block branco">Vacinação</p>
                </div>
                <div class="mdl-cell col-7">
                    {% include icones/ic-recursos-comunitarios.svg %}
                    <p class="help-block branco">Recursos Comunitários</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-cinza como-funciona">
    <div class="mdl-grid mdl-grid--spacing branco">
        <div class="mdl-cell mdl-cell--12-col">
            <h3 class="titulo-como-funciona striped-top-yellow-type-1">Como funciona?</h3>
        </div>
    </div>
    <div class="mdl-grid mdl-grid--spacing branco">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--2-offset">
            <p>Parametrizado com base na metodologia desenvolvida e aplicada pelo Centers of Disease Control (CDC) do governo norte-americano - o Worksite Health Scorecard – foi traduzido e adaptado por pesquisadores brasileiros para o contexto do país. </p>
            <p>O sistema de pontuação do Benchmarking foi desenvolvido para refletir o impacto relativo de estratégias comprovadas de promoção da saúde. Atribuiu-se um valor entre 1 e 3 pontos (em que 1 = bom, 2 = muito bom e 3 = ótimo) para cada item do questionário. Este valor em pontos reflete o nível de impacto que a estratégia tem sobre os resultados ou comportamentos de saúde desejados e o peso da evidência científica que dá suporte a esse impacto.*</p>
            <p class="help-block">*Para as referências/ocorrências utilizadas como evidência para designar a pontuação para cada um dos itens, ver The CDC Worksite Health ScoreCard Scoring Methodology: Evidence and Impact Ratings and Supporting Citations.</p>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            {% include svg/img-como-funciona.svg %}
        </div>
    </div>
</div>
<div class="bg-branco pronto-para-comecar">
    <div class="mdl-grid mdl-grid--spacing">
        <div class="mdl-cell mdl-cell--12-col">
            <h3 class="titulo-pronto-para-comecar striped-top-yellow-type-2">Pronto para começar?</h3>
        </div>
    </div>
    <div class="mdl-grid mdl-grid--spacing">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--2-offset">
            <p class="padding-top-50">Lembramos que as suas respostas farão parte da compilação dos dados anonimamente, que formarão o diagnóstico de aderência às práticas de saúde e segurança, permitindo o aperfeiçoamento das iniciativas, a troca de experiências e a criação de novas soluções para as organizações.</p>
        </div>
        <div class="mdl-cell mdl-cell--5-col">
            {% include svg/img-comecar.svg width="294" %}
        </div>
    </div>
</div>