--- 
layout: default 
title: Capa
permalink: "/cadastro-empresa-05/"
menu: logar
classes: cadastro-empresa
---
<div class="conteudo">
    <div class="destaque-cadastro">
        <div class="mdl-grid mdl-grid--spacing">
            <div class="mdl-cell mdl-cell--9-col mdl-cell--3-offset">
                <h2 class="titulo-pagina mdl-typography--text-uppercase">Cadastro <br> de empresa</h2>
            </div>
        </div>
    </div>
    <div class="mdl-grid mdl-grid--spacing">
        <div class="passo-a-passo passo-1 padding-left-150 passado">
            <!--<h3 class="titulo-passo mdl-typography--text-uppercase"><span class="indicador-passo">1</span> Dados da empresa</h3>-->
            <!--<h3 class="titulo-passo mdl-typography--text-uppercase"><a class="btn-editar" href="{{site.baseurl}}cadastro-empresa-01/"><img src="{{site.baseurl}}Repositorio/dist/img/ic-edit.svg" alt=""> Editar informações</a><span class="indicador-passo"><img src="{{site.baseurl}}Repositorio/dist/img/ic-confirm.svg" alt=""></span> Dados da empresa </h3>-->
            <h3 class="titulo-passo mdl-typography--text-uppercase">
                <a class="btn-editar" href="{{site.baseurl}}cadastro-empresa-01/">
                    {% include icones/ic-edit.svg %}
                    Editar informações
                </a>
                <span class="indicador-passo">
                    {% include icones/ic-confirm.svg %}
                </span> 
                Dados da empresa 
            </h3>
        </div><!--passo-1-->
    </div>
    <div class="mdl-grid mdl-grid--spacing">
        <div class="passo-a-passo passo-2 padding-left-150 passado">
            <!--<h3 class="titulo-passo mdl-typography--text-uppercase"><span class="indicador-passo">2</span> Dados de contato</h3>-->
            <!--<h3 class="titulo-passo mdl-typography--text-uppercase"><a class="btn-editar" href="{{site.baseurl}}cadastro-empresa-02/"><img src="{{site.baseurl}}Repositorio/dist/img/ic-edit.svg" alt=""> Editar informações</a><span class="indicador-passo"><img src="{{site.baseurl}}Repositorio/dist/img/ic-confirm.svg" alt=""></span> Dados de contato </h3>-->
            <h3 class="titulo-passo mdl-typography--text-uppercase">
                <a class="btn-editar" href="{{site.baseurl}}cadastro-empresa-02/">
                    {% include icones/ic-edit.svg %}
                    Editar informações
                </a>
                <span class="indicador-passo">
                    {% include icones/ic-confirm.svg %}
                </span> 
                Dados de contato
            </h3>
        </div><!--passo-2-->
    </div>
    <div class="mdl-grid mdl-grid--spacing">
        <div class="passo-a-passo passo-2 padding-left-150 passado">
            <!--<h3 class="titulo-passo mdl-typography--text-uppercase"><span class="indicador-passo">3</span> Localização</h3>-->
            <!--<h3 class="titulo-passo mdl-typography--text-uppercase"><a class="btn-editar" href="{{site.baseurl}}cadastro-empresa-03/"><img src="{{site.baseurl}}Repositorio/dist/img/ic-edit.svg" alt=""> Editar informações</a><span class="indicador-passo"><img src="{{site.baseurl}}Repositorio/dist/img/ic-confirm.svg" alt=""></span> Localização </h3>-->
            <h3 class="titulo-passo mdl-typography--text-uppercase">
                <a class="btn-editar" href="{{site.baseurl}}cadastro-empresa-03/">
                    {% include icones/ic-edit.svg %}
                    Editar informações
                </a>
                <span class="indicador-passo">
                    {% include icones/ic-confirm.svg %}
                </span> 
                Localização
            </h3>
        </div><!--passo-3-->
    </div>

    <div class="mdl-grid mdl-grid--spacing">
        <div class="passo-a-passo passo-3 padding-left-150 passado imediato">
            <!--<h3 class="titulo-passo mdl-typography--text-uppercase"><span class="indicador-passo">2</span> Dados de contato</h3>-->
            <!--<h3 class="titulo-passo mdl-typography--text-uppercase"><a class="btn-editar" href="{{site.baseurl}}cadastro-empresa-02/"><img src="{{site.baseurl}}Repositorio/dist/img/ic-edit.svg" alt=""> Editar informações</a><span class="indicador-passo"><img src="{{site.baseurl}}Repositorio/dist/img/ic-confirm.svg" alt=""></span> Dados de contato </h3>-->
            <h3 class="titulo-passo mdl-typography--text-uppercase">
                <a class="btn-editar" href="{{site.baseurl}}cadastro-empresa-04/">
                    {% include icones/ic-edit.svg %}
                    Editar informações
                </a>
                <span class="indicador-passo">
                    {% include icones/ic-confirm.svg %}
                </span> 
                Plano de saúde
            </h3>
        </div><!--passo-2-->
    </div>

    <div class="mdl-grid mdl-grid--spacing">
        <div class="passo-a-passo passo-3 padding-left-150">
            <h3 class="titulo-passo mdl-typography--text-uppercase"><span class="indicador-passo">5</span> Demografia</h3>
            <div class="mdl-grid">
                <h4 class="title-step-4">Número total de funcionários</h4>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <div class="mdl-textfield mdl-js-textfield">
                    <label class="mdl-textfield__label"></label>
                    <input class="mdl-textfield__input" type="text" placeholder="Resposta">
                </div>
                <p>Use apenas números</p>
            </div>
            <div class="mdl-grid">
                <h4 class="title-step-4">Percentual de colaboradores por gênero</h4>
                <p>Digite o percentual correspondente nos campos abaixo.</p>
            </div>
            <div class="mdl-grid mdl-grid--spacing no-padding">
                <div class="mdl-grid mdl-cell--12-col">
                    <div class="mdl-cell mdl-cell--2-col mdl-cell--middle">
                        <span class="strong-description">Masculino</span>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col">
                        <div class="mdl-textfield mdl-js-textfield">
                            <label class="mdl-textfield__label"></label>
                            <input class="mdl-textfield__input" type="text" placeholder="50%">
                        </div>
                    </div>
                </div>
                <div class="mdl-grid mdl-cell--12-col">
                    <div class="mdl-cell mdl-cell--2-col mdl-cell--middle">
                        <span class="strong-description">Feminino</span>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col">
                        <div class="mdl-textfield mdl-js-textfield">
                            <label class="mdl-textfield__label"></label>
                            <input class="mdl-textfield__input" type="text" placeholder="50%">
                        </div>
                    </div>
                </div>
                <div class="mdl-grid mdl-cell--12-col">
                    <h4 class="title-step-4">Porcentagem de colaboradores por faixa etária</h4>
                </div>
                <div class="mdl-grid mdl-grid--spacing no-padding">
                    <div class="mdl-grid mdl-cell--12-col">
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--middle">
                            <span class="strong-description">Menos de 18 anos</span>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <label class="mdl-textfield__label"></label>
                                <input class="mdl-textfield__input" type="text" placeholder="50%">
                            </div>
                        </div>
                    </div>
                    <div class="mdl-grid mdl-cell--12-col">
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--middle">
                            <span class="strong-description">De 18 a 25 anos</span>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <label class="mdl-textfield__label"></label>
                                <input class="mdl-textfield__input" type="text" placeholder="50%">
                            </div>
                        </div>
                    </div>
                    <div class="mdl-grid mdl-cell--12-col">
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--middle">
                            <span class="strong-description">De 26 a 35 anos</span>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <label class="mdl-textfield__label"></label>
                                <input class="mdl-textfield__input" type="text" placeholder="50%">
                            </div>
                        </div>
                    </div>
                    <div class="mdl-grid mdl-cell--12-col">
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--middle">
                            <span class="strong-description">De 46 a 55 anos</span>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <label class="mdl-textfield__label"></label>
                                <input class="mdl-textfield__input" type="text" placeholder="50%">
                            </div>
                        </div>
                    </div>
                    <div class="mdl-grid mdl-cell--12-col">
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--middle">
                            <span class="strong-description">Acima de 55 anos</span>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <label class="mdl-textfield__label"></label>
                                <input class="mdl-textfield__input" type="text" placeholder="50%">
                            </div>
                        </div>
                    </div>  
                <div class="mdl-grid mdl-cell--12-col">
                    <h4 class="title-step-4">Porcentagem de colaboradores por nível de Escolaridade</h4>
                </div>
                <div class="mdl-grid mdl-grid--spacing no-padding">
                    <div class="mdl-grid mdl-cell--12-col">
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--middle">
                            <span class="strong-description">Fundamental Incompleto (não concli a 4° série)</span>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <label class="mdl-textfield__label"></label>
                                <input class="mdl-textfield__input" type="text" placeholder="50%">
                            </div>
                        </div>
                    </div>
                    <div class="mdl-grid mdl-cell--12-col">
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--middle">
                            <span class="strong-description">Fundamental Incompleto (não concluiu a 8° série)</span>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <label class="mdl-textfield__label"></label>
                                <input class="mdl-textfield__input" type="text" placeholder="50%">
                            </div>
                        </div>
                    </div>
                    <div class="mdl-grid mdl-cell--12-col">
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--middle">
                            <span class="strong-description">Fundamental Completo (concluiu a 8° série)</span>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <label class="mdl-textfield__label"></label>
                                <input class="mdl-textfield__input" type="text" placeholder="50%">
                            </div>
                        </div>
                    </div>
                    <div class="mdl-grid mdl-cell--12-col">
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--middle">
                            <span class="strong-description">Ensino Médio Completo (concluiu o 2° grau)</span>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <label class="mdl-textfield__label"></label>
                                <input class="mdl-textfield__input" type="text" placeholder="50%">
                            </div>
                        </div>
                    </div>
                    <div class="mdl-grid mdl-cell--12-col">
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--middle">
                            <span class="strong-description">Cursando ensino superior</span>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <label class="mdl-textfield__label"></label>
                                <input class="mdl-textfield__input" type="text" placeholder="50%">
                            </div>
                        </div>
                    </div>
                    <div class="mdl-grid mdl-cell--12-col">
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--middle">
                            <span class="strong-description">Ensino superior completo</span>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <label class="mdl-textfeld__label"></label>
                                <input class="mdl-textfield__input" type="text" placeholder="50%">
                            </div>
                        </div>
                    </div>
                    <div class="mdl-grid mdl-cell--12-col">
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--middle">
                            <span class="strong-description">Pós-graduação</span>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <label class="mdl-textfield__label"></label>
                                <input class="mdl-textfield__input" type="text" placeholder="50%">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdl-grid mdl-cell--12-col">
                    <div class="mdl-cell mdl-cell--12-col">
                        <a class="mdl-button mdl-js-button mdl-button--medium mdl-button--raised mdl-button--colored" href="{{site.baseurl}}cadastro-empresa-06/">Próximo</a>
                    </div>
                </div>
            </div><!--passo-4-->
        </div>
    </div>
</div>
    <div class="mdl-grid mdl-grid--spacing">
        <div class="passo-a-passo passo-4 padding-left-150 inativo">
            <h3 class="titulo-passo mdl-typography--text-uppercase"><span class="indicador-passo">6</span> Dados de acesso</h3>
        </div><!--passo-4-->
    </div>
    <div class="mdl-grid mdl-grid--spacing margin-bottom-75">
        <div class="mdl-cell mdl-cell--12-col padding-left-150 margin-0">
            <a class="mdl-button mdl-js-button mdl-button--big mdl-button--raised" href="#">Finalizar cadastro</a>
        </div>
    </div>
</div>