--- 
layout: default 
title: Quiz
permalink: "/formulario-imagem/" 
menu: logado
---
<div class="header-progress">
	<div class="block-progress active"  id="tt1">
		<div class="mdl-tooltip mdl-tooltip--large" for="tt1">
			Suporte Organizacional
		</div>
	</div>
	<div class="block-progress active"  id="tt2">
		<div class="mdl-tooltip mdl-tooltip--large" for="tt2">
			Tabagismo
		</div>
	</div>
	<div class="block-progress active"  id="tt3">
		<div class="mdl-tooltip mdl-tooltip--large" for="tt3">
			Nutrição
		</div>
	</div>
	<div class="block-progress active"  id="tt4">
		<div class="mdl-tooltip mdl-tooltip--large" for="tt4">
			Pressão Alta
		</div>
	</div>
	<div class="block-progress"  id="tt5">
		<div class="mdl-tooltip mdl-tooltip--large" for="tt5">
			Atividade Física
		</div>
	</div>
	<div class="block-progress"  id="tt6">
		<div class="mdl-tooltip mdl-tooltip--large" for="tt6">
			Controle de Peso
		</div>
	</div>
	<div class="block-progress"  id="tt7">
		<div class="mdl-tooltip mdl-tooltip--large" for="tt7">
			Gerenciamento de Estresse 
		</div>
	</div>
	<div class="block-progress"  id="tt8">
		<div class="mdl-tooltip mdl-tooltip--large" for="tt8">
			Depressão
		</div>
	</div>
	<div class="block-progress"  id="tt9">
		<div class="mdl-tooltip mdl-tooltip--large" for="tt9">
			Coloesterol alto
		</div>
	</div>
	<div class="block-progress"  id="tt10">
		<div class="mdl-tooltip mdl-tooltip--large" for="tt10">
			Diabetes
		</div>
	</div>
	<div class="block-progress"  id="tt11">
		<div class="mdl-tooltip mdl-tooltip--large" for="tt11">
			Apoio à Amamentação
		</div>
	</div>
	<div class="block-progress"  id="tt12">
		<div class="mdl-tooltip mdl-tooltip--large" for="tt12">
			Saúde e Segurança do Trabalho
		</div>
	</div>
	<div class="block-progress"  id="tt13">
		<div class="mdl-tooltip mdl-tooltip--large" for="tt13">
			Vacinação
		</div>
	</div>
	<div class="block-progress"  id="tt14">
		<div class="mdl-tooltip mdl-tooltip--large" for="tt14">
			Recursos Comunitários
		</div>
	</div>
</div>

<div class="mdl-grid mdl-grid--spacing margin-top-75">
	<div class="mdl-cell mdl-cell--7-col">
		<div class="box-support">
			<div class="box-support-icon translate-y margin-right-15">
				{% include icones/ic-suporte-organizacional.svg cor1="#E6AF00" %}
			</div>
			<div class="box-support-text">
				<span class="mdl-inline-block">SUPORTE ORGANIZACIONAL</span>
				<span class="mdl-inline-block">Durante os 12 últimos meses, no seu local de trabalho</span>
			</div>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--5-col mdl-text-center p-relative">
		<div class="mdl-card mdl-shadow--8dp card-p-absolute-quiz padding-20">
			<div class="mdl-card__supporting-text text-align-left">
				{% include svg/img-relogio.svg %}
				<span class="middle-text text-align-right card-description margin-left-20">Fique tranquilo</span>
			</div>
			<div class="mdl-card__supporting-text padding-top-0">
				<p>Seu questionário terá salvamento
					automático de <strong>10 em 10 minutos</strong>.
					Caso precise retornar mais tarde,
					você continuará de onde parou.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="mdl-grid mdl-grid--spacing">
	<div class="mdl-cell mdl-cell--7-col">
		<h2 class="striped-top">Título da imagem</h2>
		<div class="mdl-grid mdl-grid--spacing no-padding margin-top-30">
			<div class="mdl-cell mdl-cell--12-col margin-0">
				<div class="box-image">
					<img class="img-responsive" src="http://via.placeholder.com/680x455" alt="Imagem Questionário"> 
				</div> 
			</div>
		</div>
	</div>
</div>
<div class="mdl-grid mdl-grid--spacing">
	<div class="mdl-cell mdl-cell--7-col">
		<h2 class="striped-top">Quais os principais riscos de saúde dos funcionários por meio de terceiros, funcionários do próprio local de trabalho ou planos de saúde?</h2>
		<div class="mdl-grid mdl-grid--spacing no-padding margin-top-30">
			<div class="mdl-cell mdl-cell--12-col margin-0">
				<div class="box-image">
					<img class="img-responsive" src="http://via.placeholder.com/680x455" alt="Imagem Questionário"> 
				</div> 
			</div>
		</div>

		<div class="mdl-grid mdl-grid--spacing no-padding margin-top-30">
			<div class="mdl-cell mdl-cell--6-col margin-0">
				<div class="box-checkbox">
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
						<input type="checkbox" id="checkbox-1" class="mdl-checkbox__input">
						<span class="mdl-checkbox__label">Resposta 1 <span>(3 pontos)</span></span>
					</label>
				</div>
				<div class="box-checkbox margin-top-10">		
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
						<input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
						<span class="mdl-checkbox__label">Resposta 2 <span>(0 ponto)</span></span>
					</label>
				</div>
				<div class="box-checkbox margin-top-10">		
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-3">
						<input type="checkbox" id="checkbox-3" class="mdl-checkbox__input">
						<span class="mdl-checkbox__label">Resposta 3 <span>(3 pontos)</span></span>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>

<hr class="margin-top-35">

<div class="mdl-grid margin-top-20 margin-bottom-75 mdl-grid--spacing">
	<div class="mdl-cell">
		<button id="btnAnterior" class="mdl-button mdl-button-large mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent">
			Anterior
		</button>

	</div>
	<div class="mdl-cell text-align-center">
		<button id="btnSalvar" class="mdl-button mdl-button-large mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
			Salvar
		</button>
		<span class="small-description margin-top-10">Salvo automaticamente há 8 minutos</span>
	</div>
	<div class="mdl-cell text-align-right">
		<button id="btnProximo" class="mdl-button mdl-button-large mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
			Próximo
		</button>
	</div>
</div>