--- 
layout: default 
title: Cadastro Usuario
permalink: "/cadastro-usuario-01/" 
menu: logado
classes: no-footer
---

<section class="menu-interno">
	<div class="mdl-grid mdl-grid--spacing no-padding-y flex-justify-center">
		<div class="mdl-cell mdl-cell--12-col margin-0">
			<div class="item-menu-interno ativo">
				{% include icones/ic-plus.svg width="41" height="30" %}
				<span>Gerenciador de Usuários</span>
			</div>
			<div class="item-menu-interno">
				{% include icones/ic-empresas.svg width="46" height="34" %}
				<span>Gerenciador de Empresas</span>
			</div>
			<div class="item-menu-interno">
				{% include icones/ic-perfil-acesso.svg width="55" height="40" %}
				<span>Perfil de Acesso</span>
			</div>
			<div class="item-menu-interno">
				{% include icones/ic-envio.svg width="40" height="30" %}
				<span>Envio de E-mails</span>
			</div>
			<div class="item-menu-interno">
				{% include icones/ic-pesquisa.svg width="30" height="30" %}
				<span>Pesquisas</span>
			</div>
		</div>
	</div>
</section>

<div class="mdl-grid mdl-grid--spacing">
	<div class="mdl-cell mdl-cell--8-col margin-left-0 margin-y0">
		<h1 class="margin-bottom-0">Gerenciador de <span>Usuários</span></h1>
		<p class="margin-0">Utilize os filtros abaixo para encontrar um usuário:</p>
	</div>
	<div class="mdl-cell mdl-cell--4-col text-align-right mdl-cell--middle">
		<button onclick="abrirModal(dialogNovoUsuario)" class="mdl-button mdl-js-button mdl-button--medium mdl-button--raised mdl-button--colored" data-upgraded=",MaterialButton">
			Cadastrar novo usuário
		</button>
	</div>
</div>

<div class="mdl-grid mdl-grid--spacing">
	<div class="mdl-cell mdl-cell--9-col margin-0 formulario-filtro">
		<form name="filtro-usuario">
			<div class="mdl-grid no-padding">
				<div class="mdl-cell mdl-cell--3-col margin-y0 margin-left-0">
					<div class="mdl-textfield mdl-js-textfield">
						<label class="mdl-textfield__label label-sem-barra" for="codigo">Código do usuário</label>
						<input class="mdl-textfield__input" type="text" id="codigo" placeholder="Digite o Código do Usuário">
					</div>
				</div>
				<div class="mdl-cell mdl-cell--6-col margin-y0">
					<div class="mdl-textfield mdl-js-textfield ">
						<label class="mdl-textfield__label label-sem-barra" for="nome">Nome</label>
						<input class="mdl-textfield__input" type="text" id="nome" placeholder="Digite o Nome do Usuário">
					</div>
				</div>
				<div class="mdl-cell mdl-cell--3-col margin-y0">
					<div class="mdl-textfield mdl-js-textfield getmdl-select getmdl-select__fullwidth">
						<label for="porte" class="mdl-textfield__label label-sem-barra">Perfil</label>
						<input class="mdl-textfield__input" type="text" id="porte" placeholder="Selecione" readonly tabindex="-1">
						<ul for="porte" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
							<li class="mdl-menu__item">Administrativo</li>
							<li class="mdl-menu__item">Padrão</li>
							<li class="mdl-menu__item">Limitado</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="mdl-grid no-padding">
				<div class="mdl-cell mdl-cell--6-col margin-y0 margin-left-0">
					<div class="mdl-textfield mdl-js-textfield">
						<label class="mdl-textfield__label label-sem-barra" for="codigo">E-mail</label>
						<input class="mdl-textfield__input" type="email" id="email" placeholder="Digite o E-mail do Usuário">
					</div>
				</div>
				<div class="mdl-cell mdl-cell--3-col margin-y0">
					<div class="mdl-textfield mdl-js-textfield getmdl-select getmdl-select__fullwidth">
						<label for="empresa" class="mdl-textfield__label label-sem-barra">Empresa</label>
						<input class="mdl-textfield__input" type="text" id="empresa" placeholder="Selecione" readonly tabindex="-1">
						<ul for="empresa" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
							<li class="mdl-menu__item">Empresa X</li>
							<li class="mdl-menu__item">Empresa Y</li>
							<li class="mdl-menu__item">Empresa Z</li>
						</ul>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--3-col margin-y0">
					<div class="mdl-textfield mdl-js-textfield getmdl-select getmdl-select__fullwidth">
						<label for="status" class="mdl-textfield__label label-sem-barra">Status</label>
						<input class="mdl-textfield__input" type="text" id="status" placeholder="Selecione" readonly tabindex="-1">
						<ul for="status" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
							<li class="mdl-menu__item">Ativo</li>
							<li class="mdl-menu__item">Padrão</li>
							<li class="mdl-menu__item">Inativo</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="mdl-grid no-padding">
				<div class="mdl-cell mdl-cell--6-col margin-left-0 margin-top-20">
					<button class="mdl-button mdl-js-button mdl-button--raised" type="submit" href="#">{% include icones/ic-filtro.svg %} Filtrar</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="mdl-grid bg-line-gray margin-top-20"> 
	<div class="mdl-layout-spacer"></div>
	<div class="mdl-cell mdl-cell--3-col margin-y0  text-align-center">
		<span class="span"><span class="span-strong-small">15</span> resultados encontrados!</span>
	</div>
	<div class="mdl-layout-spacer"></div>
</div>

<div class="mdl-grid mdl-grid--spacing resultado-busca-lista">
	<div class="mdl-cell mdl-cell--12-col">
		<table class="mdl-data-table mdl-js-data-table table-striped">
			<thead>
				<tr>
					<th class="mdl-data-table__cell--non-numeric">Código do Usuário {% include icones/ic-dropdown.svg %}</th>
					<th class="mdl-data-table__cell--non-numeric">Nome {% include icones/ic-dropdown.svg %}</th>
					<th class="mdl-data-table__cell--non-numeric">Perfil {% include icones/ic-dropdown.svg %}</th>
					<th class="mdl-data-table__cell--non-numeric">E-mail {% include icones/ic-dropdown.svg %}</th>
					<th class="mdl-data-table__cell--non-numeric">Empresa {% include icones/ic-dropdown.svg %}</th>
					<th class="mdl-data-table__cell--non-numeric">Status {% include icones/ic-dropdown.svg %}</th>
					<th class="mdl-data-table__cell--non-numeric"></th>
				</tr>

			</thead>
			<tbody>
				<tr>
					<td class="mdl-data-table__cell--non-numeric">US00001</td>
					<td class="mdl-data-table__cell--non-numeric">Paulo Carmago</td>
					<td class="mdl-data-table__cell--non-numeric">Administrativo</td>
					<td class="mdl-data-table__cell--non-numeric">Camarpaulo@email.com</td>
					<td class="mdl-data-table__cell--non-numeric">Empresa Gemarx</td>
					<td class="mdl-data-table__cell--non-numeric">Inativo</td>
					<td class="mdl-data-table__cell--non-numeric"><a class="strong-editar" onclick="abrirModal(dialogConfirmarInativarUsuario)">{% include icones/ic-editar.svg %} Editar</a></td>
				</tr>
				<tr>
					<td class="mdl-data-table__cell--non-numeric">US00001</td>
					<td class="mdl-data-table__cell--non-numeric">Paulo Carmago</td>
					<td class="mdl-data-table__cell--non-numeric">Administrativo</td>
					<td class="mdl-data-table__cell--non-numeric">Camarpaulo@email.com</td>
					<td class="mdl-data-table__cell--non-numeric">Empresa Gemarx</td>
					<td class="mdl-data-table__cell--non-numeric">Inativo</td>
					<td class="mdl-data-table__cell--non-numeric"><a class="strong-editar" onclick="abrirModal(dialogEditarUsuario)">{% include icones/ic-editar.svg %} Editar</a></td>
				</tr>
				<tr>
					<td class="mdl-data-table__cell--non-numeric">US00001</td>
					<td class="mdl-data-table__cell--non-numeric">Paulo Carmago</td>
					<td class="mdl-data-table__cell--non-numeric">Administrativo</td>
					<td class="mdl-data-table__cell--non-numeric">Camarpaulo@email.com</td>
					<td class="mdl-data-table__cell--non-numeric">Empresa Gemarx</td>
					<td class="mdl-data-table__cell--non-numeric">Inativo</td>
					<td class="mdl-data-table__cell--non-numeric"><a class="strong-editar" onclick="abrirModal(dialogEditarUsuario)">{% include icones/ic-editar.svg %} Editar</a></td>
				</tr>
				<tr>
					<td class="mdl-data-table__cell--non-numeric">US00001</td>
					<td class="mdl-data-table__cell--non-numeric">Paulo Carmago</td>
					<td class="mdl-data-table__cell--non-numeric">Administrativo</td>
					<td class="mdl-data-table__cell--non-numeric">Camarpaulo@email.com</td>
					<td class="mdl-data-table__cell--non-numeric">Empresa Gemarx</td>
					<td class="mdl-data-table__cell--non-numeric">Inativo</td>
					<td class="mdl-data-table__cell--non-numeric"><a class="strong-editar" onclick="abrirModal(dialogEditarUsuario)">{% include icones/ic-editar.svg %} Editar</a></td>
				</tr>
				<tr>
					<td class="mdl-data-table__cell--non-numeric">US00001</td>
					<td class="mdl-data-table__cell--non-numeric">Paulo Carmago</td>
					<td class="mdl-data-table__cell--non-numeric">Administrativo</td>
					<td class="mdl-data-table__cell--non-numeric">Camarpaulo@email.com</td>
					<td class="mdl-data-table__cell--non-numeric">Empresa Gemarx</td>
					<td class="mdl-data-table__cell--non-numeric">Inativo</td>
					<td class="mdl-data-table__cell--non-numeric"><a class="strong-editar" onclick="abrirModal(dialogEditarUsuario)">{% include icones/ic-editar.svg %} Editar</a></td>
				</tr>
				<tr>
					<td class="mdl-data-table__cell--non-numeric">US00001</td>
					<td class="mdl-data-table__cell--non-numeric">Paulo Carmago</td>
					<td class="mdl-data-table__cell--non-numeric">Administrativo</td>
					<td class="mdl-data-table__cell--non-numeric">Camarpaulo@email.com</td>
					<td class="mdl-data-table__cell--non-numeric">Empresa Gemarx</td>
					<td class="mdl-data-table__cell--non-numeric">Inativo</td>
					<td class="mdl-data-table__cell--non-numeric"><a class="strong-editar" onclick="abrirModal(dialogEditarUsuario)">{% include icones/ic-editar.svg %} Editar</a></td>
				</tr>
				<tr>
					<td class="mdl-data-table__cell--non-numeric">US00001</td>
					<td class="mdl-data-table__cell--non-numeric">Paulo Carmago</td>
					<td class="mdl-data-table__cell--non-numeric">Administrativo</td>
					<td class="mdl-data-table__cell--non-numeric">Camarpaulo@email.com</td>
					<td class="mdl-data-table__cell--non-numeric">-</td>
					<td class="mdl-data-table__cell--non-numeric">Inativo</td>
					<td class="mdl-data-table__cell--non-numeric"><a class="strong-editar" onclick="abrirModal(dialogEditarUsuario)">{% include icones/ic-editar.svg %} Editar</a></td>
				</tr>
				<tr>
					<td class="mdl-data-table__cell--non-numeric">US00001</td>
					<td class="mdl-data-table__cell--non-numeric">Paulo Carmago</td>
					<td class="mdl-data-table__cell--non-numeric">Administrativo</td>
					<td class="mdl-data-table__cell--non-numeric">Camarpaulo@email.com</td>
					<td class="mdl-data-table__cell--non-numeric">-</td>
					<td class="mdl-data-table__cell--non-numeric">Inativo</td>
					<td class="mdl-data-table__cell--non-numeric"><a class="strong-editar" onclick="abrirModal(dialogEditarUsuario)">{% include icones/ic-editar.svg %} Editar</a></td>
				</tr>
				<tr>
					<td class="mdl-data-table__cell--non-numeric">US00001</td>
					<td class="mdl-data-table__cell--non-numeric">Paulo Carmago</td>
					<td class="mdl-data-table__cell--non-numeric">Administrativo</td>
					<td class="mdl-data-table__cell--non-numeric">Camarpaulo@email.com</td>
					<td class="mdl-data-table__cell--non-numeric">Empresa Gemarx</td>
					<td class="mdl-data-table__cell--non-numeric">Inativo</td>
					<td class="mdl-data-table__cell--non-numeric"><a class="strong-editar" onclick="abrirModal(dialogEditarUsuario)">{% include icones/ic-editar.svg %} Editar</a></td>
				</tr>
			</tbody>
		</table>
		<div class="table-paginacao">
			{% include icones/ic-dropdown.svg %} <span class="pagina ativa">1</span>.<span class="pagina">2</span> {% include icones/ic-dropdown.svg %}
		</div>
	</div>
</div>