--- 
layout: default 
title: Perfil do Administrador
permalink: "/painel-respondente/" 
classes: no-footer
---

<div class="mdl-grid padding-x50">
	<div class="mdl-cell mdl-cell--12-col margin-bottom-20 text-align-center titulo-administrador">
		<h1>Painel do <span>Respondente</span></h1>
	</div>
</div>

<div class="mdl-grid padding-x50 margin-top-5">
	<div class="mdl-cell mdl-cell--12-col">

		<div class="card-container">
			<div class="mdl-grid no-padding">
				<div class="mdl-cell mdl-cell--4-col">
					<div class="card-administrativo">
						<div class="mdl-card mdl-shadow--8dp padding-top-30 margin-bottom-0">
							<div class="mdl-card__supporting-text card-header text-align-center">
								{% include icones/ic-pesquisa.svg %}
							</div>
							<div class="mdl-card__supporting-text card-body margin-top-10">
								<p>Pesquisas</p>
							</div>
						</div>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--4-col">
					<div class="card-administrativo">
						<div class="mdl-card mdl-shadow--8dp padding-top-30 margin-bottom-0">
							<div class="mdl-card__supporting-text card-header text-align-center">
								{% include icones/ic-usuario-padrao.svg %}
							</div>
							<div class="mdl-card__supporting-text card-body margin-top-10">
								<p>Área do Usuário</p>
							</div>
						</div>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--4-col">
					<div class="card-administrativo">
						<div class="mdl-card mdl-shadow--8dp padding-top-30 margin-bottom-0">
							<div class="mdl-card__supporting-text card-header text-align-center">
								{% include icones/ic-empresas.svg %}
							</div>
							<div class="mdl-card__supporting-text card-body margin-top-10">
								<p>Gerenciar Empresa</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



