--- 
layout: default 
title: Pesquisa
permalink: "/pesquisa/" 
menu: logado
classes: no-footer
---

<section class="menu-interno">
	<div class="mdl-grid mdl-grid--spacing no-padding-y flex-justify-center">
		<div class="mdl-cell mdl-cell--12-col margin-0">
			<div class="item-menu-interno">
				{% include icones/ic-plus.svg width="41" height="30" %}
				<span>Gerenciador de Usuários</span>
			</div>
			<div class="item-menu-interno">
				{% include icones/ic-empresas.svg width="46" height="34" %}
				<span>Gerenciador de Empresas</span>
			</div>
			<div class="item-menu-interno">
				{% include icones/ic-perfil-acesso.svg width="55" height="40" %}
				<span>Perfil de Acesso</span>
			</div>
			<div class="item-menu-interno">
				{% include icones/ic-envio.svg width="40" height="30" %}
				<span>Envio de E-mails</span>
			</div>
			<div class="item-menu-interno ativo">
				{% include icones/ic-pesquisa.svg width="30" height="30" %}
				<span>Pesquisas</span>
			</div>
		</div>
	</div>
</section>

<div class="mdl-grid mdl-grid--spacing">
	<div class="mdl-cell mdl-cell--8-col">
		<h1 class="margin-bottom-10">Pesquisas</h1>
		<p class="margin-0">Utilize os filtros abaixo para encontrar uma pesquisa:</p>
	</div>
	<div class="mdl-cell mdl-cell--4-col text-align-right margin-top-40">
		<button onclick="abrirModal(dialogNovaPesquisa)" class="mdl-button mdl-js-button mdl-button--medium mdl-button--raised mdl-button--colored" data-upgraded=",MaterialButton">
			Cadastrar nova pesquisa
		</button>
	</div>
</div>

<div class="mdl-grid mdl-grid--spacing">
	<div class="mdl-cell mdl-cell--12-col formulario-filtro">
		<form name="filtro-usuario">
			<div class="mdl-grid no-padding">
				<div class="mdl-cell mdl-cell--3-col margin-top-0 margin-bottom-0 margin-left-0">
					<div class="mdl-textfield mdl-js-textfield">
						<label class="mdl-textfield__label label-sem-barra" for="nome">Nome da empresa</label>
						<input class="mdl-textfield__input" type="text" id="nome" placeholder="Digite o Nome da Empresa">
					</div>
				</div>
				<div class="mdl-cell mdl-cell--4-col margin-top-0 margin-bottom-0">
					<div class="mdl-textfield mdl-js-textfield ">
						<label class="mdl-textfield__label label-sem-barra" for="nome">Nome da pesquisa</label>
						<input class="mdl-textfield__input" type="text" id="nome" placeholder="Digite o Nome da Pesquisa">
					</div>
				</div>
				<div class="mdl-cell mdl-cell--3-col margin-top-0 margin-bottom-0">
					<div class="mdl-textfield mdl-js-textfield ">
						<label class="mdl-textfield__label label-sem-barra" for="data">Data de cadastro</label>
						<input class="mdl-textfield__input" type="text" id="data" placeholder="dd/mm/aaaa">
					</div>
				</div>
				<div class="mdl-cell mdl-cell--2-col margin-top-0 margin-bottom-0">
					<div class="mdl-textfield mdl-js-textfield getmdl-select getmdl-select__fullwidth">
						<label for="status" class="mdl-textfield__label label-sem-barra">Status</label>
						<input class="mdl-textfield__input" type="text" id="status" placeholder="Selecionar Status" readonly tabindex="-1">
						<!-- <span class="icon-select">{% include icones/ic-dropdown.svg %}</span> -->
						<ul for="status" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
							<li class="mdl-menu__item">Ativo</li>
							<li class="mdl-menu__item">Inativo</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="mdl-grid no-padding">

				<div class="mdl-cell mdl-cell--3-col margin-top-0 margin-bottom-0 margin-left-0">
					<div class="mdl-textfield mdl-js-textfield arrow-textfield">
						<label class="mdl-textfield__label label-sem-barra" for="regiao">Região</label>
						<input class="mdl-textfield__input box-drop-js" type="text" id="regiao" placeholder="Selecionar Regiões">
					</div>
					<div class="box-drop">
						<ul class="ul-drop">
							<li class="">
								<input class="mdl-textfield__input" type="text" placeholder="Pesquisa">
							</li>
							<li class="">
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect margin-top-20" for="checkdrop-regiao-pesquisa-01">
									<input type="checkbox" id="checkdrop-regiao-pesquisa-01"  class="mdl-checkbox__input">
									<span class="mdl-checkbox__label">Norte</span>
								</label>
							</li>
							<li class="">
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect margin-top-20" for="checkdrop-regiao-pesquisa-02">
									<input type="checkbox" id="checkdrop-regiao-pesquisa-02"  class="mdl-checkbox__input">
									<span class="mdl-checkbox__label">Nordeste</span>
								</label>
							</li>
							<li class="">
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect margin-top-20" for="checkdrop-regisao-pesquisa-03">
									<input type="checkbox" id="checkdrop-regisao-pesquisa-03"  class="mdl-checkbox__input">
									<span class="mdl-checkbox__label">Sudeste</span>
								</label>
							</li>
						</ul>
					</div>

				</div>

				<div class="mdl-cell mdl-cell--3-col margin-top-0 margin-bottom-0">
					<div class="mdl-textfield mdl-js-textfield arrow-textfield">
						<label class="mdl-textfield__label label-sem-barra" for="estado">Estado</label>
						<input class="mdl-textfield__input box-drop-js" type="text" id="estado" placeholder="Selecionar Estados">
					</div>
					<div class="box-drop">
						<ul for="estado" class="ul-drop">
							<li class="">
								<input class="mdl-textfield__input" type="text" placeholder="Pesquisa">
							</li>
							<li class="">
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect margin-top-20" for="checkdrop-estado-pesquisa-01">
									<input type="checkbox" id="checkdrop-estado-pesquisa-01"  class="mdl-checkbox__input">
									<span class="mdl-checkbox__label">MG</span>
								</label>
							</li>
							<li class="">
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect margin-top-20" for="checkdrop-estado-pesquisa-02">
									<input type="checkbox" id="checkdrop-estado-pesquisa-02"  class="mdl-checkbox__input">
									<span class="mdl-checkbox__label">RJ</span>
								</label>
							</li>
							<li class="">
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect margin-top-20" for="checkdrop-estado-pesquisa-03">
									<input type="checkbox" id="checkdrop-estado-pesquisa-03"  class="mdl-checkbox__input">
									<span class="mdl-checkbox__label">PR</span>
								</label>
							</li>
						</ul>
					</div>
				</div>

				<div class="mdl-cell mdl-cell--3-col margin-top-0 margin-bottom-0">
					<div class="mdl-textfield mdl-js-textfield arrow-textfield">
						<label class="mdl-textfield__label label-sem-barra" for="mesoregiao">Mesorregião</label>
						<input class="mdl-textfield__input box-drop-js" type="text" id="mesoregiao" placeholder="Selecionar Mesoregiao">
					</div>
					<div class="box-drop">
						<ul for="estado" class="ul-drop">
							<li class="">
								<input class="mdl-textfield__input" type="text" placeholder="Pesquisa">
							</li>
							<li class="">
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect margin-top-20" for="checkdrop-mesoregiao-pesquisa-01">
									<input type="checkbox" id="checkdrop-mesoregiao-pesquisa-01"  class="mdl-checkbox__input">
									<span class="mdl-checkbox__label">Noroesre de minas</span>
								</label>
							</li>
							<li class="">
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect margin-top-20" for="checkdrop-mesoregiao-pesquisa-02">
									<input type="checkbox" id="checkdrop-mesoregiao-pesquisa-02"  class="mdl-checkbox__input">
									<span class="mdl-checkbox__label">Oeste de minas</span>
								</label>
							</li>
							<li class="">
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect margin-top-20" for="checkdrop-mesoregiao-pesquisa-03">
									<input type="checkbox" id="checkdrop-mesoregiao-pesquisa-03"  class="mdl-checkbox__input">
									<span class="mdl-checkbox__label">Norte de minas</span>
								</label>
							</li>
						</ul>
					</div>
					
				</div>

				<div class="mdl-cell mdl-cell--3-col margin-top-0 margin-bottom-0">
					<div class="mdl-textfield mdl-js-textfield arrow-textfield">
						<label class="mdl-textfield__label label-sem-barra" for="municipio">Município</label>
						<input class="mdl-textfield__input box-drop-js" type="text" id="municipio" placeholder="Selecionar Cidade">
					</div>
					<div class="box-drop">
						<ul for="municipio" class="ul-drop">
							<li class="">
								<input class="mdl-textfield__input" type="text" placeholder="Pesquisa">
							</li>
							<li class="">
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect margin-top-20" for="checkdrop-municipio-pesquisa-01">
									<input type="checkbox" id="checkdrop-municipio-pesquisa-01"  class="mdl-checkbox__input">
									<span class="mdl-checkbox__label">Belo Horizonte</span>
								</label>
							</li>
							<li class="">
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect margin-top-20" for="checkdrop-municipio-pesquisa-02">
									<input type="checkbox" id="checkdrop-municipio-pesquisa-02"  class="mdl-checkbox__input">
									<span class="mdl-checkbox__label">Betim</span>
								</label>
							</li>
							<li class="">
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect margin-top-20" for="checkdrop-municipio-pesquisa-03">
									<input type="checkbox" id="checkdrop-municipio-pesquisa-03"  class="mdl-checkbox__input">
									<span class="mdl-checkbox__label">Contagem</span>
								</label>
							</li>
						</ul>
					</div>

				</div>

			</div>
			<div class="mdl-grid no-padding">
				<div class="mdl-cell mdl-cell--3-col margin-top-0 margin-bottom-0 margin-left-0">
					<div class="mdl-textfield mdl-js-textfield arrow-textfield">
						<label class="mdl-textfield__label label-sem-barra" for="setor">Setor</label>
						<input class="mdl-textfield__input box-drop-js" type="text" id="setor" placeholder="Selecionar Setor">
					</div>
					<div class="box-drop">
						<ul class="ul-drop">
							<li class="">
								<input class="mdl-textfield__input" type="text" placeholder="Pesquisa">
							</li>
							<li class="">
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect margin-top-20" for="checkdrop-setor-pesquisa-01">
									<input type="checkbox" id="checkdrop-setor-pesquisa-01"  class="mdl-checkbox__input">
									<span class="mdl-checkbox__label">Mineração</span>
								</label>
							</li>
							<li class="">
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect margin-top-20" for="checkdrop-segmento-pesquisa-02">
									<input type="checkbox" id="checkdrop-segmento-pesquisa-02"  class="mdl-checkbox__input">
									<span class="mdl-checkbox__label">Agronegócio</span>
								</label>
							</li>
							<li class="">
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect margin-top-20" for="checkdrop-segmento-pesquisa-03">
									<input type="checkbox" id="checkdrop-segmento-pesquisa-03"  class="mdl-checkbox__input">
									<span class="mdl-checkbox__label">Indústria</span>
								</label>
							</li>
						</ul>
					</div>

				</div>
				<div class="mdl-cell mdl-cell--4-col margin-top-0 margin-bottom-0">
					<div class="mdl-textfield mdl-js-textfield arrow-textfield">
						<label class="mdl-textfield__label label-sem-barra" for="porte">Porte</label>
						<input class="mdl-textfield__input box-drop-js" type="text" id="porte" placeholder="Selecionar Porte">
					</div>
					<div class="box-drop">
						<ul class="ul-drop">
							<li class="">
								<input class="mdl-textfield__input" type="text" placeholder="Pesquisa">
							</li>
							<li class="">
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect margin-top-20" for="checkdrop-porte-pesquisa-01">
									<input type="checkbox" id="checkdrop-porte-pesquisa-01"  class="mdl-checkbox__input">
									<span class="mdl-checkbox__label">Grande</span>
								</label>
							</li>
							<li class="">
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect margin-top-20" for="checkdrop-porte-pesquisa-02">
									<input type="checkbox" id="checkdrop-porte-pesquisa-02"  class="mdl-checkbox__input">
									<span class="mdl-checkbox__label">Médio</span>
								</label>
							</li>
							<li class="">
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect margin-top-20" for="checkdrop-porte-pesquisa-03">
									<input type="checkbox" id="checkdrop-porte-pesquisa-03"  class="mdl-checkbox__input">
									<span class="mdl-checkbox__label">Pequeno</span>
								</label>
							</li>
						</ul>
					</div>

				</div>
			</div>
			<div class="mdl-grid no-padding">
				<div class="mdl-cell mdl-cell--6-col margin-left-0 margin-top-20">
					<button class="mdl-button mdl-js-button mdl-button--raised" type="submit" href="#">{% include icones/ic-filtro.svg %} Filtrar</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="mdl-grid bg-line-gray margin-top-20"> 
	<div class="mdl-layout-spacer"></div>
	<div class="mdl-cell mdl-cell--3-col margin-y0  text-align-center">
		<span class="span"><span class="span-strong-small">17</span> resultados encontrados!</span>
	</div>
	<div class="mdl-layout-spacer"></div>
</div>

<div class="mdl-grid mdl-grid--spacing resultado-busca-lista">
	<div class="mdl-cell mdl-cell--12-col">

		<div class="card-pesquisa-container">
			<div class="mdl-grid no-padding">
				<div class="mdl-cell mdl-cell--12-col">
					<div class="card-administrativo ativo">
						<div class="mdl-card mdl-shadow--8dp padding-20">
							<div class="mdl-card__supporting-text card-header text-align-center">
								<p>US00001</p>
								<h2>Saúde e <span>Segurança</span></h2>

								<div class="drop-menu">
									<!-- Right aligned menu below button -->
									<button id="card-01" class="mdl-button mdl-js-button mdl-button--icon">
										<i class="material-icons">more_vert</i>
									</button>

									<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="card-01">
										<li class="mdl-menu__item" onclick="abrirModal(dialogEdicaoPesquisa)">Editar pesquisa</li>
										<li class="mdl-menu__item">Editar questionário</li>
										<li class="mdl-menu__item">Remover pesquisa</li>
									</ul>
								</div>
							</div>
							<div class="mdl-card__supporting-text card-body padding-top-0 text-align-center">
								<p>20/01/2017</p>
								<p>Ativo</p>
								<p><a class="strong-editar">{% include icones/ic-eyes.svg %} Ver detalhe</a></p>
							</div>
						</div>
					</div>

					<div class="card-administrativo margin-left-card inativo">
						<div class="mdl-card mdl-shadow--8dp padding-20">
							<div class="mdl-card__supporting-text card-header text-align-center">
								<p>US00001</p>
								<h2>Alimentação <span>Saudável</span></h2>

								<div class="drop-menu">
									<!-- Right aligned menu below button -->
									<button id="card-02" class="mdl-button mdl-js-button mdl-button--icon">
										<i class="material-icons">more_vert</i>
									</button>

									<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="card-02">
										<li class="mdl-menu__item" onclick="abrirModal(dialogEdicaoPesquisa)">Editar pesquisa</li>
										<li class="mdl-menu__item">Editar questionário</li>
										<li class="mdl-menu__item">Remover pesquisa</li>
									</ul>
								</div>
							</div>
							<div class="mdl-card__supporting-text card-body padding-top-0 text-align-center">
								<p>20/01/2017</p>
								<p>Inativo</p>
								<p><a class="strong-editar">{% include icones/ic-eyes.svg %} Ver detalhe</a></p>
							</div>
						</div>
					</div>

					<div class="card-administrativo margin-left-card ativo">
						<div class="mdl-card mdl-shadow--8dp padding-20">
							<div class="mdl-card__supporting-text card-header text-align-center">
								<p>US00001</p>
								<h2>Colesterol e <span>Pressão</span></h2>

								<div class="drop-menu">
									<!-- Right aligned menu below button -->
									<button id="card-03" class="mdl-button mdl-js-button mdl-button--icon">
										<i class="material-icons">more_vert</i>
									</button>

									<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="card-03">
										<li class="mdl-menu__item" onclick="abrirModal(dialogEdicaoPesquisa)">Editar pesquisa</li>
										<li class="mdl-menu__item">Editar questionário</li>
										<li class="mdl-menu__item">Remover pesquisa</li>
									</ul>
								</div>
							</div>
							<div class="mdl-card__supporting-text card-body padding-top-0 text-align-center">
								<p>20/01/2017</p>
								<p>Ativo</p>
								<p><a class="strong-editar">{% include icones/ic-eyes.svg %} Ver detalhe</a></p>
							</div>
						</div>
					</div>

					<div class="card-administrativo margin-left-card ativo">
						<div class="mdl-card mdl-shadow--8dp padding-20">
							<div class="mdl-card__supporting-text card-header text-align-center">
								<p>US00001</p>
								<h2>Exercícios <span>Físicos</span></h2>

								<div class="drop-menu">
									<!-- Right aligned menu below button -->
									<button id="card-04" class="mdl-button mdl-js-button mdl-button--icon">
										<i class="material-icons">more_vert</i>
									</button>

									<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="card-04">
										<li class="mdl-menu__item" onclick="abrirModal(dialogEdicaoPesquisa)">Editar pesquisa</li>
										<li class="mdl-menu__item">Editar questionário</li>
										<li class="mdl-menu__item">Remover pesquisa</li>
									</ul>
								</div>
							</div>
							<div class="mdl-card__supporting-text card-body padding-top-0 text-align-center">
								<p>20/01/2017</p>
								<p>Ativo</p>
								<p><a class="strong-editar">{% include icones/ic-eyes.svg %} Ver detalhe</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="mdl-grid no-padding">
				<div class="mdl-cell mdl-cell--12-col">
					<div class="card-administrativo ativo">
						<div class="mdl-card mdl-shadow--8dp padding-20">
							<div class="mdl-card__supporting-text card-header text-align-center">
								<p>US00001</p>
								<h2>Saúde e <span>Segurança</span></h2>

								<div class="drop-menu">
									<!-- Right aligned menu below button -->
									<button id="card-05" class="mdl-button mdl-js-button mdl-button--icon">
										<i class="material-icons">more_vert</i>
									</button>

									<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="card-05">
										<li class="mdl-menu__item" onclick="abrirModal(dialogEdicaoPesquisa)">Editar pesquisa</li>
										<li class="mdl-menu__item">Editar questionário</li>
										<li class="mdl-menu__item">Remover pesquisa</li>
									</ul>
								</div>
							</div>
							<div class="mdl-card__supporting-text card-body padding-top-0 text-align-center">
								<p>20/01/2017</p>
								<p>Ativo</p>
								<p><a class="strong-editar">{% include icones/ic-eyes.svg %} Ver detalhe</a></p>
							</div>
						</div>
					</div>

					<div class="card-administrativo margin-left-card inativo">
						<div class="mdl-card mdl-shadow--8dp padding-20">
							<div class="mdl-card__supporting-text card-header text-align-center">
								<p>US00001</p>
								<h2>Alimentação <span>Saudável</span></h2>

								<div class="drop-menu">
									<!-- Right aligned menu below button -->
									<button id="card-06" class="mdl-button mdl-js-button mdl-button--icon">
										<i class="material-icons">more_vert</i>
									</button>

									<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="card-06">
										<li class="mdl-menu__item" onclick="abrirModal(dialogEdicaoPesquisa)">Editar pesquisa</li>
										<li class="mdl-menu__item">Editar questionário</li>
										<li class="mdl-menu__item">Remover pesquisa</li>
									</ul>
								</div>
							</div>
							<div class="mdl-card__supporting-text card-body padding-top-0 text-align-center">
								<p>20/01/2017</p>
								<p>Inativo</p>
								<p><a class="strong-editar">{% include icones/ic-eyes.svg %} Ver detalhe</a></p>
							</div>
						</div>
					</div>

					<div class="card-administrativo margin-left-card inativo">
						<div class="mdl-card mdl-shadow--8dp padding-20">
							<div class="mdl-card__supporting-text card-header text-align-center">
								<p>US00001</p>
								<h2>Colesterol e <span>Pressão</span></h2>

								<div class="drop-menu">
									<!-- Right aligned menu below button -->
									<button id="card-07" class="mdl-button mdl-js-button mdl-button--icon">
										<i class="material-icons">more_vert</i>
									</button>

									<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="card-07">
										<li class="mdl-menu__item" onclick="abrirModal(dialogEdicaoPesquisa)">Editar pesquisa</li>
										<li class="mdl-menu__item">Editar questionário</li>
										<li class="mdl-menu__item">Remover pesquisa</li>
									</ul>
								</div>
							</div>
							<div class="mdl-card__supporting-text card-body padding-top-0 text-align-center">
								<p>20/01/2017</p>
								<p>Inativo</p>
								<p><a class="strong-editar">{% include icones/ic-eyes.svg %} Ver detalhe</a></p>
							</div>
						</div>
					</div>

					<div class="card-administrativo margin-left-card inativo">
						<div class="mdl-card mdl-shadow--8dp padding-20">
							<div class="mdl-card__supporting-text card-header text-align-center">
								<p>US00001</p>
								<h2>Exercícios <span>Físicos</span></h2>

								<div class="drop-menu">
									<!-- Right aligned menu below button -->
									<button id="card-08" class="mdl-button mdl-js-button mdl-button--icon">
										<i class="material-icons">more_vert</i>
									</button>

									<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="card-08">
										<li class="mdl-menu__item" onclick="abrirModal(dialogEdicaoPesquisa)">Editar pesquisa</li>
										<li class="mdl-menu__item">Editar questionário</li>
										<li class="mdl-menu__item">Remover pesquisa</li>
									</ul>
								</div>
							</div>
							<div class="mdl-card__supporting-text card-body padding-top-0 text-align-center">
								<p>20/01/2017</p>
								<p>Inativo</p>
								<p><a class="strong-editar">{% include icones/ic-eyes.svg %} Ver detalhe</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="mdl-grid no-padding">
				<div class="mdl-cell mdl-cell--12-col">
					<div class="card-administrativo ativo">
						<div class="mdl-card mdl-shadow--8dp padding-20">
							<div class="mdl-card__supporting-text card-header text-align-center">
								<p>US00001</p>
								<h2>Saúde e <span>Segurança</span></h2>

								<div class="drop-menu">
									<!-- Right aligned menu below button -->
									<button id="card-09" class="mdl-button mdl-js-button mdl-button--icon">
										<i class="material-icons">more_vert</i>
									</button>

									<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="card-09">
										<li class="mdl-menu__item" onclick="abrirModal(dialogEdicaoPesquisa)">Editar pesquisa</li>
										<li class="mdl-menu__item">Editar questionário</li>
										<li class="mdl-menu__item">Remover pesquisa</li>
									</ul>
								</div>
							</div>
							<div class="mdl-card__supporting-text card-body padding-top-0 text-align-center">
								<p>20/01/2017</p>
								<p>Ativo</p>
								<p><a class="strong-editar">{% include icones/ic-eyes.svg %} Ver detalhe</a></p>
							</div>
						</div>
					</div>

					<div class="card-administrativo margin-left-card inativo">
						<div class="mdl-card mdl-shadow--8dp padding-20">
							<div class="mdl-card__supporting-text card-header text-align-center">
								<p>US00001</p>
								<h2>Alimentação <span>Saudável</span></h2>

								<div class="drop-menu">
									<!-- Right aligned menu below button -->
									<button id="card-10" class="mdl-button mdl-js-button mdl-button--icon">
										<i class="material-icons">more_vert</i>
									</button>

									<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="card-10">
										<li class="mdl-menu__item" onclick="abrirModal(dialogEdicaoPesquisa)">Editar pesquisa</li>
										<li class="mdl-menu__item">Editar questionário</li>
										<li class="mdl-menu__item">Remover pesquisa</li>
									</ul>
								</div>
							</div>
							<div class="mdl-card__supporting-text card-body padding-top-0 text-align-center">
								<p>20/01/2017</p>
								<p>Inativo</p>
								<p><a class="strong-editar">{% include icones/ic-eyes.svg %} Ver detalhe</a></p>
							</div>
						</div>
					</div>

					<div class="card-administrativo margin-left-card ativo">
						<div class="mdl-card mdl-shadow--8dp padding-20">
							<div class="mdl-card__supporting-text card-header text-align-center">
								<p>US00001</p>
								<h2>Colesterol e <span>Pressão</span></h2>

								<div class="drop-menu">
									<!-- Right aligned menu below button -->
									<button id="card-11" class="mdl-button mdl-js-button mdl-button--icon">
										<i class="material-icons">more_vert</i>
									</button>

									<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="card-11">
										<li class="mdl-menu__item" onclick="abrirModal(dialogEdicaoPesquisa)">Editar pesquisa</li>
										<li class="mdl-menu__item">Editar questionário</li>
										<li class="mdl-menu__item">Remover pesquisa</li>
									</ul>
								</div>
							</div>
							<div class="mdl-card__supporting-text card-body padding-top-0 text-align-center">
								<p>20/01/2017</p>
								<p>Ativo</p>
								<p><a class="strong-editar">{% include icones/ic-eyes.svg %} Ver detalhe</a></p>
							</div>
						</div>
					</div>

					<div class="card-administrativo margin-left-card inativo">
						<div class="mdl-card mdl-shadow--8dp padding-20">
							<div class="mdl-card__supporting-text card-header text-align-center">
								<p>US00001</p>
								<h2>Exercícios <span>Físicos</span></h2>

								<div class="drop-menu">
									<!-- Right aligned menu below button -->
									<button id="card-12" class="mdl-button mdl-js-button mdl-button--icon">
										<i class="material-icons">more_vert</i>
									</button>

									<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="card-12">
										<li class="mdl-menu__item" onclick="abrirModal(dialogEdicaoPesquisa)">Editar pesquisa</li>
										<li class="mdl-menu__item">Editar questionário</li>
										<li class="mdl-menu__item">Remover pesquisa</li>
									</ul>
								</div>
							</div>
							<div class="mdl-card__supporting-text card-body padding-top-0 text-align-center">
								<p>20/01/2017</p>
								<p>Inativo</p>
								<p><a class="strong-editar">{% include icones/ic-eyes.svg %} Ver detalhe</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>

		<div class="table-paginacao">
			{% include icones/ic-dropdown.svg %} <span class="pagina ativa">1</span>.<span class="pagina">2</span> {% include icones/ic-dropdown.svg %}
		</div>

	</div>
</div>