<head>
	<meta charset="utf-8">
	
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- 	<meta http-equiv="x-ua-compatible" content="IE=edge" > -->
	<!-- Google Fonts -->
	<link rel="icon" type="image/png" href="{{site.baseurl}}dist/img/favicon.png">
	<link rel="stylesheet" href="{{site.baseurl}}dist/css/screen.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.7.0/css/perfect-scrollbar.min.css" type="text/css">
	

	<title>{{ site.title }} | {% if page.title %}{{ page.title }}{% endif %}</title>
	
</head>